@import compass/css3

$yellow: #b58900
$orange: #cb4b16
$red: #dc322f
$magenta: #d33682
$violet: #6c71c4
$blue: #268bd2
$cyan: #2aa198
$green: #859900

$base03: #002b36
$base02: #073642
$base01: #586e75
$base00: #657b83
$base0: #EEE
$base1: #93a1a1
$base2: #eee8d5
$base3: #fdf6e3
$bg: darken($base03, 3%)

*
  +box-sizing(border-box)

body
  background-color: $bg
  color: $base02
  font-size: 16pt
  font-weight: lighter
  text-transform: uppercase

header
  color: $base0

  h1
    color: $cyan
    border-bottom: 1px solid $base02

.vcenter
  display: inline-block
  vertical-align: middle
  float: none

h1
  font-size: 25pt
  font-weight: bold

h2
  color: $base0
  font-size: 25pt
  font-weight: lighter

.btn-borderless
  border: 0px

.step
  background-color: #EEE
  min-height: 800px

.step-title
  padding-bottom: 20px
  width: 100%
  text-align: center
  text-transform: uppercase

#room-picker
  padding: 20px
    top: 40px

  .row
    height: 100%

    & > div
      height: 100%

  #floor-picker
    text-align: center

    .btn-group
      position: relative
      width: 100%
      text-align: center

    button
      +border-radius(0px)
      background: white
      border: 1px solid $cyan
      height: 35px

      &.dropdown-toggle
        width: 100%

    .dropdown-menu
      +border-radius(0px)
      position: absolute
      left: 0px
      top: 33px
      width: 100%
      li
        padding-left: 5px

        &:hover
          background-color: $bg
          color: $base0

  #day-picker
    position: relative
    width: 100%
    text-align: center
    margin-bottom: 20px

    button#previous-day
      position: absolute
      left: 0px

    button#next-day
      position: absolute
      right: 0px

  #availability
    width: 100%
    height: 100%
    border: 2px solid $cyan
      bottom: 0px

    &:last-child
      border-bottom: 2px solid $cyan

    .room
      .room-name
        width: 100%
        text-align: center
        color: $cyan
        font-size: 14pt

      h3
        margin-top: 5px
        margin-bottom: 5px

      .availability-canvas
        width: 100%
        height: 80px
        overflow: hidden

#time-picker
  font-size: 13pt

  .labels
    text-align: right
    padding-right: 0px

  input
    padding: 0px

.canvas
  overflow: hidden

svg
  .roomLayout
    fill: transparent
    stroke: $cyan
      width: 3

  .label
    fill: $base03
    text-anchor: middle !important

  .timeslot
    fill: transparent
    stroke: $base01
      width: 1

  .occupied_slot
    fill: $red
    opacity: 0.7

  .time_slot,
    fill: transparent
    stroke: $cyan
      width: 1

  .time_label
    fill: $cyan
    font-size: 12pt

  .preferred_slot
    fill: $green
    opacity: 0.7
