@import compass/css3

$yellow: #b58900
$orange: #cb4b16
$red: #dc322f
$magenta: #d33682
$violet: #6c71c4
$blue: #268bd2
$cyan: #2aa198
$green: #859900

$base03: #002b36
$base02: #073642
$base01: #586e75
$base00: #657b83
$base0: #EEE
$base1: #93a1a1
$base2: #eee8d5
$base3: #fdf6e3

body
  background-color: $base03
  color: $base02
  font-size: 16pt
  font-weight: lighter

header
  background-color: $blue
  color: $base0

  h1
    color: $base0

  h2
    color: $base0

h1
  color: $blue
  font-size: 40pt

h2
  color: $base01
  font-size: 20pt
  font-weight: bold

.step
  background-color: #EEE
  min-height: 800px

#room-picker

  .row
    height: 100%

  #rooms
    border-right: 1px solid $base02

  #floor-picker
    width: 100%
    text-align: center

  #day-picker
    width: 100%
    text-align: center
