div#day-picker
  button#previous-day.btn-borderless
    | <
  span.day Wednesday
  button#next-day.btn-borderless
    | >

div#availability
  div.room
    h3.room-name
      | Nicky
    div.availability-canvas
