div#day-picker
  button#previous-day.btn-borderless
    | <
  span.day Wednesday
  button#next-day.btn-borderless
    | >

div#availability(ng-repeat="room in rooms")
  div.room(room-availability
    room="room"
    availability-data="roomAvailability(room)"
    day="day"
  )
