div#floor-picker
  .btn-group(dropdown)
    button.btn.dropdown-toggle(type="button" dropdown-toggle)
      | Floor {{ floor }}
    ul.dropdown-menu(role="menu" )
      li(ng-repeat="fl in floors" ng-click="selectFloor(fl)")
       | Floor {{ fl }}
