div.step-title
  .container
    .row
      h2 Meeting rooms
div(ng-controller="PickerCtrl")
div#room-picker.step.container
  .row

    .col-md-7#rooms
      div(floor-picker floors="floors" floor="floor")

      div(floorplan floorplan-data="floorplan")

    .col-md-5

      div#day-picker
        button#previous-day.btn-borderless(ng-click="prevDay()")
          | <
        span.day {{ day.format("dddd") }}, {{ day.format("MMMM D") }}
        button#next-day.btn-borderless(ng-click="nextDay()")
          | >

      div(availability
        floorplan-data="floorplan"
        rooms="rooms"
        availability-data="availabsData"
        day="day"
      )
