doctype html
html
  head
    include libs.jade
    script(src="/scripts/main.min.js")

  body

    .container

      h1
        | Airbender
      h2
        | Your choice of Walmart San Bruno Office room reservation
