doctype html
html
  head
    include libs.jade
    script(src="/scripts/main.min.js")
    link(href="/style/css/main.css" rel="stylesheet")

  body

    header
      .container
        .row
          h1
            | Airbender
    div(floorplan)